{% block navbar %}

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/jpg" href="https://www.kainos.com/favicon.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <nav id="dark-blue" class="z-depth-3">
            <div id="dark-blue" class="nav-wrapper container">
                <a href="/index" class="brand-logo"><img src="https://i.ibb.co/y43Xwry/Kainos-Logo-Index.png" height=50px style="margin-top: 4%">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#">Placeholder</a>
                        </li>
                        <li>
                            <a id="dark-blue" class="waves-effect waves-light btn" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}

        {% block content%}
            {% endblock%}

            {% block footer%}
                <footer id="dark-blue" class="page-footer z-depth-3">
                    <div class="container">
                        <div class="row">
                            <div class="col l6 s12">
                                <h5 class="white-text"></h5>
                                <p class="grey-text text-lighten-4"></p>
                            </div>
                            <div class="col l4 offset-l2 s12">
                                <h5 class="white-text">Contact Information</h5>
                                <ul>
                                    <li>
                                        <p>Phone No: 028 9057 1100</p>
                                    </li>
                                    <li>
                                        <p class="grey-text text-lighten-3">Address: 4-6 Upper Cresent</a>
                                    </li>
                                    <li>
                                        <p class="grey-text text-lighten-3">City: Belfast</a>
                                    </li>
                                    <li>
                                        <p class="grey-text text-lighten-3">Postcode: BT7 1NT</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
            Kainos Software Limited © 2021
                        </div>
                    </div>
                </footer>

                {% endblock%}
