<!doctype html>
{% extends 'layout-template.njk'%}

{% block content %}
<html lang="en">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Kainos - Job List</title> 
        <div class="container">
            <div class="row">
                <div class = "col-sm">
                    <h1>List of Job Roles</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <table id="myTable" class="table highlight stripped">
                        <thead>
                            <tr>
                                <th scope="col">Job Title</th>
                                <th scope="col">Capability Name</th>
                                <th scope="col">Band Name</th>
                                <th scope="col">Band Level</th>
                                <th scope="col">Family Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for role in jobData %}
                                <tr id="{{role.jobID}}">
                                <td id="jobTitleCell{{role.jobID}}">{{role.jobTitle}}</td>
                                <td id="jobCapabilityCell{{role.jobID}}">{{role.capabilityName}}</td>
                                <td id="jobBandNameCell{{role.jobID}}">{{role.bandName}}</td>
                                <td id="jobBandLevelCell{{role.jobID}}">{{role.bandLevel}}</td>
                                <td id="jobFamilyNameCell{{role.jobID}}">{{role.familyName}}</td>
                                {% if isAdmin != 0%}
                                <td><i class="material-icons grey-text text-lighten-1" style="font-size: 25px" onclick="editRole({{role.jobID}})">edit</i></td>
                                {% endif %}
                            </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </body>
</html>

{% if isAdmin != 0%}
<script>
function editRole(roleID){
    var jobTitle = document.getElementById("jobTitleCell" + roleID);
    jobTitle.innerText = "Test";
}

</script>
{% endif %}



{% endblock%}
