<head>
  <title>Kainos - Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/jpg" href="https://www.kainos.com/favicon.png"/>
</head>

<div class="container">
  <div class="row" style="margin-top: 10%">
    <div class="col s3"></div>
    <div class="col s6">
      <div class="card-panel">
        {% block login%}
          {% block logo %}
            <center><img src="https://bit.ly/3hqOeO9" height=100px></center>
          {% endblock %}
          {% if error %}
            <center>
              <p id="errorMessage" class="red-text text-lighten-2">{{ error }}</p>
            </center>
          {% endif %}
          <form action="/login" method="POST">
            <div class="input-field">
              <input type="text" id="username" name="email" autocomplete="off" style="color: #283583 ; border-bottom: 1px solid #283583; box-shadow: none">
              <label for="email" style="color: #283583">Email</label>
            </div>
            <div class="input-field">
              <input type="password" id="password" name="password" style="color: #283583 ; border-bottom: 1px solid #283583; box-shadow: none">
              <label for="password" style="color: #283583">Password</label>
            </div>
            <center>
              <button id="submitButton" class="btn waves-effect waves-light" type="submit" style="background-color: #61A83F">Login<i class="material-icons right">send</i>
              </center>
            </button>
          </form>
        {% endblock %}
      </div>
    </div>
    <div class="col s3"></div>
  </div>
</div>